
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="jumbotron text-center">
    <h1>Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for details order.</p>
    <hr>
    <p>
        Having trouble? <a href="@Url.Action("Contact","Home")">Contact us</a>
    </p>
    <p>
        <a class="btn btn-dark btn-success" href="@Url.Action("Index","Shop")" role="button">Continue to shopping</a>
    </p>
</div>

