
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
    <section class="women-banner spad">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="product-large set-bg" data-setbg="~/Content/img/banner/a.jpg">
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <h1>About Us</h1>
                    <p>We sell perfumes loremmhkjdjhhfhasjga uhguhtbhvbvhfdkjakgrfukghaer hgjakdsnfvgjdbfvhbv asfklda ghla  ghrj ksd fvjd hsv ugsdfghdj  skbnfjdsh bgnsdfbj  djthtj hbb bfnh khtuda   gdhaurgg  jfhhfb  bfhsh heuw jakirhu  iwi brygt</p>

                </div>
            </div>
    </section>

