USE [master]
GO
/****** Object:  Database [PerfumeShop]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE DATABASE [PerfumeShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PerfumeShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PerfumeShop.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PerfumeShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PerfumeShop_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PerfumeShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PerfumeShop]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Banner]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [uniqueidentifier] NOT NULL,
	[Image] [nvarchar](30) NULL,
	[Link] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[AdType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Brand]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Summary] [nvarchar](400) NOT NULL,
	[Logo] [nvarchar](160) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[Summary] [nvarchar](400) NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [uniqueidentifier] NOT NULL,
	[DeliveryName] [nvarchar](30) NOT NULL,
	[DeliveryAddress] [nvarchar](60) NOT NULL,
	[DeliveryPhone] [nvarchar](12) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[Oder_Id] [uniqueidentifier] NOT NULL,
	[ProductVariation_ID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [uniqueidentifier] NOT NULL,
	[Vendor_Id] [uniqueidentifier] NOT NULL,
	[Brand_Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductAdvertisement]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAdvertisement](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[EventUrl] [nvarchar](50) NOT NULL,
	[EventUrlCaption] [nvarchar](10) NULL,
	[ImagePath] [nvarchar](200) NOT NULL,
	[AdType] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductAdvertisement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ProductId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductVariation_Id] [uniqueidentifier] NOT NULL,
	[ImagePath] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductVariation]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariation](
	[Id] [uniqueidentifier] NOT NULL,
	[Product_Id] [uniqueidentifier] NOT NULL,
	[SKU] [nvarchar](20) NOT NULL,
	[Volume] [nvarchar](10) NOT NULL,
	[StockQuantity] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 0) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductVariation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ShoppingCart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShoppingCartDetail]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCartDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[ShoppingCart_Id] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[ProductVariation_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.ShoppingCartDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 20/03/2020 3:13:54 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](120) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](12) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Vendor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description]) VALUES (N'd1294cfa-dc63-4653-acde-0043dc1398e5', N'Admin', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description]) VALUES (N'd5805b2b-707c-4d1b-9ec2-10682e6eb8f8', N'phuoc', N'nhan vien')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description]) VALUES (N'daecda6f-b832-4ee3-913b-7808a24918aa', N'Customer', NULL)
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Facebook', N'1372303816309331', N'633e7ab2-0be4-4aa1-bbe3-ac4d5aedc0fc')
INSERT [dbo].[AspNetUserLogins] ([LoginProvider], [ProviderKey], [UserId]) VALUES (N'Google', N'118110608840656874331', N'b07e21e8-e974-49a2-bde3-8eabf5c42a84')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'49f78100-e5b9-4495-8013-1a2bfdc26d4f', N'daecda6f-b832-4ee3-913b-7808a24918aa')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'4fc2714e-881e-4f31-b62a-afd7231030e9', N'daecda6f-b832-4ee3-913b-7808a24918aa')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'd22fd94d-915e-42e9-b7d1-32116f585c2e', N'daecda6f-b832-4ee3-913b-7808a24918aa')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Avatar], [Address]) VALUES (N'49f78100-e5b9-4495-8013-1a2bfdc26d4f', N'traxuanson879@gmail.com', 0, N'AI/cne6pOFvxuRznXVIM7TzXaPaMQA5Nw06ixF+rb1jObJnwpzyunWqsNTt0nJLktQ==', N'd21f8aad-6c47-41d0-8ac0-90031d9cd39a', NULL, 0, 0, NULL, 1, 0, N'traxuanson879@gmail.com', NULL, N'defaultAvatar.jpg', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Avatar], [Address]) VALUES (N'4fc2714e-881e-4f31-b62a-afd7231030e9', N'traxuanson@gmail.com', 0, N'ABwoiZg6wD+GB7V8f9wMrJ3gBDMsjF9gs4t9c3hk6zE+WCJokd7Cd4oCmc83kAdang==', N'ed4a7986-3eef-47b6-9ee7-8ca9d86b9798', N'0981077564', 0, 0, NULL, 1, 0, N's', N'son x', N's', NULL)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Avatar], [Address]) VALUES (N'633e7ab2-0be4-4aa1-bbe3-ac4d5aedc0fc', N'traxuanson456@gmail.com', 0, NULL, N'cce32f80-756c-453d-bfc9-69c144f225cf', NULL, 0, 0, NULL, 1, 0, N'traxuanson456@gmail.com', NULL, N'defaultAvatar.jpg', NULL)
INSERT [dbo].[Banner] ([Id], [Image], [Link], [CreatedDate], [UpdatedDate], [IsActive], [AdType]) VALUES (N'cf25ed3a-5903-4536-a3c0-af3d86ca685d', N'5.jpeg', N'http://localhost:63057/Admin/Brand', CAST(0x0000AB7300EE1D12 AS DateTime), CAST(0x0000AB7300EE1D12 AS DateTime), 1, 2)
INSERT [dbo].[Banner] ([Id], [Image], [Link], [CreatedDate], [UpdatedDate], [IsActive], [AdType]) VALUES (N'f9d8fdbc-84e1-4a41-bf7f-b136469bf001', N'3.jpeg', N'http://localhost:63057/Admin/Brand', CAST(0x0000AB750101C1CB AS DateTime), CAST(0x0000AB750101C1C4 AS DateTime), 1, 0)
INSERT [dbo].[Banner] ([Id], [Image], [Link], [CreatedDate], [UpdatedDate], [IsActive], [AdType]) VALUES (N'11cf8248-292d-4412-9395-b13ad2455a2d', N'pexels-photo-2814832.jpeg', N'http://localhost:63057/Admin/Brand', CAST(0x0000AB7300EE0FD0 AS DateTime), CAST(0x0000AB7300EE0FD0 AS DateTime), 1, 1)
INSERT [dbo].[Brand] ([Id], [Name], [Summary], [Logo], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'7f400592-1d73-4e26-90c8-12f1991d3b5b', N'Gucci 2', N'&lt;p&gt;is an Italian luxury brand&lt;/p&gt;
', N'Dior.jpg.webp', CAST(0x0000AB6C0115F57E AS DateTime), NULL, 0)
INSERT [dbo].[Brand] ([Id], [Name], [Summary], [Logo], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'ac911cc4-96e6-4919-9e00-1ec6ef173d8d', N'Saint Laurent', N'', N'logoSaintLaurent', CAST(0x0000AB6C0115F57E AS DateTime), NULL, 1)
INSERT [dbo].[Brand] ([Id], [Name], [Summary], [Logo], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'708f8eb4-0670-423b-b51b-2a68243a27b7', N'Carven', N'', N'logocarven', CAST(0x0000AB6C0115F57E AS DateTime), NULL, 1)
INSERT [dbo].[Category] ([Id], [Name], [Summary], [ParentId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'66473678-b457-ea11-b327-10c37bddf09c', N'Highlights', N'&lt;p&gt;Typical products of the shop&lt;/p&gt;
', NULL, CAST(0x0000AB6C0115F687 AS DateTime), NULL, 1)
INSERT [dbo].[Category] ([Id], [Name], [Summary], [ParentId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'68473678-b457-ea11-b327-10c37bddf09c', N'New Products', N'&lt;p&gt;Launches new products&lt;/p&gt;
', NULL, CAST(0x0000AB6C0115F687 AS DateTime), NULL, 1)
INSERT [dbo].[Category] ([Id], [Name], [Summary], [ParentId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'69473678-b457-ea11-b327-10c37bddf09c', N'Selling', N'&lt;p&gt;Products sold the most&lt;/p&gt;
', NULL, CAST(0x0000AB6C0115F687 AS DateTime), NULL, 1)
INSERT [dbo].[Product] ([Id], [Vendor_Id], [Brand_Id], [Name], [Description], [CreatedDate], [UpdatedDate], [IsActive], [ImagePath]) VALUES (N'4f4fdeb6-be5e-ea11-b327-10c37bddf09c', N'9f2f94c3-d815-4005-93b7-d95930a5d0e6', N'b32b7791-dd35-4f74-9234-5f58f1caee2c', N'lrem ipsum', N'&lt;p&gt;ahyhy&lt;/p&gt;
', CAST(0x0000AB750105C026 AS DateTime), CAST(0x0000AB7B00FACFD5 AS DateTime), 1, N'woman-girl.jpg')
INSERT [dbo].[Product] ([Id], [Vendor_Id], [Brand_Id], [Name], [Description], [CreatedDate], [UpdatedDate], [IsActive], [ImagePath]) VALUES (N'8d03206e-6663-ea11-b327-10c37bddf09c', N'9f2f94c3-d815-4005-93b7-d95930a5d0e6', N'b32b7791-dd35-4f74-9234-5f58f1caee2c', N'dior', N'&lt;p&gt;Lorem ipsum dolor sit amet, consectetur ing elit, sed do eiusmod tempor sum dolor sit amet, consectetur adipisicing elit, sed do mod tempor&lt;/p&gt;
', CAST(0x0000AB7B00E7B61A AS DateTime), CAST(0x0000AB7B00FAEB3E AS DateTime), 1, N'chanel.jpeg')
INSERT [dbo].[ProductAdvertisement] ([Id], [Title], [Description], [EventUrl], [EventUrlCaption], [ImagePath], [AdType], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'a3cf5229-7f2c-4ddd-b56b-11f3a8ef615e', N's', N'&lt;p&gt;s&lt;/p&gt;
', N's', N's', N'2.jpeg', 2, CAST(0x0000AB7300EF2003 AS DateTime), CAST(0x0000AB7300EF2003 AS DateTime), 0)
INSERT [dbo].[ProductAdvertisement] ([Id], [Title], [Description], [EventUrl], [EventUrlCaption], [ImagePath], [AdType], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'7b983fa7-c197-4865-8d6d-1653cbebdfd6', N'546', N'&lt;p&gt;s&lt;/p&gt;
', N'a', N's', N'6.jpeg', 2, CAST(0x0000AB7601122DD6 AS DateTime), CAST(0x0000AB7601122DD5 AS DateTime), 1)
INSERT [dbo].[ProductAdvertisement] ([Id], [Title], [Description], [EventUrl], [EventUrlCaption], [ImagePath], [AdType], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'91376970-6720-4370-a836-5dd671849376', N'a', N'&lt;p&gt;s&lt;/p&gt;
', N'a', N's', N'dior.jpeg', 3, CAST(0x0000AB7300EF369B AS DateTime), CAST(0x0000AB7300EF369B AS DateTime), 1)
INSERT [dbo].[ProductCategory] ([ProductId], [CategoryId]) VALUES (N'4f4fdeb6-be5e-ea11-b327-10c37bddf09c', N'68473678-b457-ea11-b327-10c37bddf09c')
INSERT [dbo].[ProductCategory] ([ProductId], [CategoryId]) VALUES (N'4f4fdeb6-be5e-ea11-b327-10c37bddf09c', N'69473678-b457-ea11-b327-10c37bddf09c')
INSERT [dbo].[ProductCategory] ([ProductId], [CategoryId]) VALUES (N'4f4fdeb6-be5e-ea11-b327-10c37bddf09c', N'a05c1638-3368-ea11-b32c-10c37bddf09c')
INSERT [dbo].[ProductImage] ([Id], [ProductVariation_Id], [ImagePath], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'9f980539-d443-4b7c-8b9e-04649212903e', N'a0fe7a45-5a62-4036-ba3c-3922469ffc9b', N'touch100ml.jpg', CAST(0x0000AB8101197A94 AS DateTime), NULL, 1)
INSERT [dbo].[ProductImage] ([Id], [ProductVariation_Id], [ImagePath], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'add770f4-4cfc-487b-924c-05170309d194', N'4b21aeb9-7b73-400a-97fa-e9c6cd9e21b5', N'man-nuance.jpg', CAST(0x0000AB81011B9B98 AS DateTime), NULL, 1)
INSERT [dbo].[ProductImage] ([Id], [ProductVariation_Id], [ImagePath], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'574d5248-bd4a-4982-9964-065248106806', N'a2e08fef-c00e-4484-be59-da71d5a9836b', N'man-van.jpg', CAST(0x0000AB81011ABB8B AS DateTime), NULL, 1)
INSERT [dbo].[ProductVariation] ([Id], [Product_Id], [SKU], [Volume], [StockQuantity], [Price], [DiscountPrice], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'9eaa7c21-962d-46c2-8d47-18aa879feb98', N'8d03206e-6663-ea11-b327-10c37bddf09c', N'12fffg', N'100ml', CAST(123.00 AS Decimal(18, 2)), CAST(344422.00 AS Decimal(18, 2)), CAST(0 AS Decimal(18, 0)), CAST(0x0000AB7B00E7B681 AS DateTime), NULL, 1)
INSERT [dbo].[ProductVariation] ([Id], [Product_Id], [SKU], [Volume], [StockQuantity], [Price], [DiscountPrice], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'31572105-471c-49b9-84cf-202aa38a5ddd', N'ea7cce68-3568-ea11-b32c-10c37bddf09c', N'XS2012', N'25ml', CAST(25.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(0 AS Decimal(18, 0)), CAST(0x0000AB810116DE8B AS DateTime), NULL, 1)
INSERT [dbo].[ProductVariation] ([Id], [Product_Id], [SKU], [Volume], [StockQuantity], [Price], [DiscountPrice], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'5a4563c1-bbd7-4b6a-b519-37c75a0df030', N'f0ec878a-3568-ea11-b32c-10c37bddf09c', N'Empty', N'100ml', CAST(10.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(0 AS Decimal(18, 0)), CAST(0x0000AB81011720EB AS DateTime), NULL, 1)
INSERT [dbo].[ShoppingCart] ([Id], [OrderDate], [UserId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'a0db5d9c-ea5e-4fff-a967-03b926e8ee06', CAST(0x0000AB8100AF4DC2 AS DateTime), N'ddfd8a9b-2fb1-4d71-af70-c3d324572c46', CAST(0x0000AB8100AF4DC2 AS DateTime), NULL, 1)
INSERT [dbo].[ShoppingCart] ([Id], [OrderDate], [UserId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'd013758d-1eb2-44e7-b7bb-3279789e6a1d', CAST(0x0000AB8100AEFB40 AS DateTime), N'b4203b8d-d29c-4128-a42c-b2c059625019', CAST(0x0000AB8100AEFB40 AS DateTime), NULL, 1)
INSERT [dbo].[ShoppingCart] ([Id], [OrderDate], [UserId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'9d00b053-f0fb-4cfb-8311-40655c0666af', CAST(0x0000AB8000FE3D72 AS DateTime), N'11a28007-e309-4be5-9511-152b8039b4f8', CAST(0x0000AB8000FE3D72 AS DateTime), NULL, 1)
INSERT [dbo].[Vendor] ([Id], [Name], [Address], [Email], [PhoneNumber], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'3f7b6995-9dc7-44a0-8766-12d577c66e28', N'YVesSaint Laurent', N'Paris', N'YvesSaintLaurent@gmail.com', N'03030405', CAST(0x0000AB6C0115F669 AS DateTime), NULL, 1)
INSERT [dbo].[Vendor] ([Id], [Name], [Address], [Email], [PhoneNumber], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'70c51773-edd2-4547-8489-2b0813945e52', N'Christian Dior', N'Italy', N'dior@gmail.com', N'03030405', CAST(0x0000AB6C0115F669 AS DateTime), NULL, 1)
INSERT [dbo].[Vendor] ([Id], [Name], [Address], [Email], [PhoneNumber], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'73ec989a-8236-4b75-a41d-37ad507457d5', N'Van Cleef & Arpels', N'Paris', N'Vancleefarpels@gmail.com', N'03030405', CAST(0x0000AB6C0115F669 AS DateTime), NULL, 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentId]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [dbo].[Category]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Oder_Id]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_Oder_Id] ON [dbo].[OrderDetail]
(
	[Oder_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariation_ID]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariation_ID] ON [dbo].[OrderDetail]
(
	[ProductVariation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Brand_Id]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_Brand_Id] ON [dbo].[Product]
(
	[Brand_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vendor_Id]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_Vendor_Id] ON [dbo].[Product]
(
	[Vendor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[ProductCategory]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductCategory]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariation_Id]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariation_Id] ON [dbo].[ProductImage]
(
	[ProductVariation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[ProductVariation]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariation_Id]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariation_Id] ON [dbo].[ShoppingCartDetail]
(
	[ProductVariation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShoppingCart_Id]    Script Date: 20/03/2020 3:13:54 CH ******/
CREATE NONCLUSTERED INDEX [IX_ShoppingCart_Id] ON [dbo].[ShoppingCartDetail]
(
	[ShoppingCart_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((0)) FOR [AdType]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('') FOR [Status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('') FOR [ImagePath]
GO
ALTER TABLE [dbo].[ShoppingCartDetail] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ProductVariation_Id]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Category_dbo.Category_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_dbo.Category_dbo.Category_ParentId]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.Order_Oder_Id] FOREIGN KEY([Oder_Id])
REFERENCES [dbo].[Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.Order_Oder_Id]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetail_dbo.ProductVariation_ProductVariation_ID] FOREIGN KEY([ProductVariation_ID])
REFERENCES [dbo].[ProductVariation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_dbo.OrderDetail_dbo.ProductVariation_ProductVariation_ID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Brand_Brand_Id] FOREIGN KEY([Brand_Id])
REFERENCES [dbo].[Brand] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Brand_Brand_Id]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Vendor_Vendor_Id] FOREIGN KEY([Vendor_Id])
REFERENCES [dbo].[Vendor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Vendor_Vendor_Id]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategory_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_dbo.ProductCategory_dbo.Category_CategoryId]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategory_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_dbo.ProductCategory_dbo.Product_ProductId]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductImage_dbo.ProductVariation_ProductVariation_Id] FOREIGN KEY([ProductVariation_Id])
REFERENCES [dbo].[ProductVariation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_dbo.ProductImage_dbo.ProductVariation_ProductVariation_Id]
GO
ALTER TABLE [dbo].[ProductVariation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductVariation_dbo.Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariation] CHECK CONSTRAINT [FK_dbo.ProductVariation_dbo.Product_Product_Id]
GO
ALTER TABLE [dbo].[ShoppingCartDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShoppingCartDetail_dbo.ProductVariation_ProductVariation_Id] FOREIGN KEY([ProductVariation_Id])
REFERENCES [dbo].[ProductVariation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCartDetail] CHECK CONSTRAINT [FK_dbo.ShoppingCartDetail_dbo.ProductVariation_ProductVariation_Id]
GO
ALTER TABLE [dbo].[ShoppingCartDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShoppingCartDetail_dbo.ShoppingCart_ShoppingCart_Id] FOREIGN KEY([ShoppingCart_Id])
REFERENCES [dbo].[ShoppingCart] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCartDetail] CHECK CONSTRAINT [FK_dbo.ShoppingCartDetail_dbo.ShoppingCart_ShoppingCart_Id]
GO
USE [master]
GO
