USE [master]
GO
/****** Object:  Database [PerfumeShop]    Script Date: 3/5/2020 5:07:50 PM ******/
CREATE DATABASE [PerfumeShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PerfumeShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\PerfumeShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PerfumeShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\PerfumeShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PerfumeShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PerfumeShop]
GO
USE [PerfumeShop]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [uniqueidentifier] NOT NULL,
	[Image] [nvarchar](30) NULL,
	[Link] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[AdType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Summary] [nvarchar](400) NOT NULL,
	[Logo] [nvarchar](160) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[Summary] [nvarchar](400) NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [uniqueidentifier] NOT NULL,
	[ShoppingCart_Id] [uniqueidentifier] NOT NULL,
	[DeliveryName] [nvarchar](30) NOT NULL,
	[DeliveryAddress] [nvarchar](60) NOT NULL,
	[DeliveryPhone] [nvarchar](12) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [uniqueidentifier] NOT NULL,
	[Vendor_Id] [uniqueidentifier] NOT NULL,
	[Brand_Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAdvertisement]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAdvertisement](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
	[EventUrl] [nvarchar](50) NOT NULL,
	[EventUrlCaption] [nvarchar](10) NULL,
	[ImagePath] [nvarchar](200) NOT NULL,
	[AdType] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductAdvertisement] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategory]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategory](
	[ProductId] [uniqueidentifier] NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategory] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductVariation_Id] [uniqueidentifier] NOT NULL,
	[ImagePath] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariation]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariation](
	[Id] [uniqueidentifier] NOT NULL,
	[Product_Id] [uniqueidentifier] NOT NULL,
	[SKU] [nvarchar](20) NOT NULL,
	[Volume] [nvarchar](10) NOT NULL,
	[StockQuantity] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ProductVariation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[Id] [uniqueidentifier] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ShoppingCart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingCartDetail]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCartDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[ShoppingCart_Id] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[ProductVariation_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.ShoppingCartDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 3/5/2020 5:07:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](120) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](12) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Vendor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description]) VALUES (N'd1294cfa-dc63-4653-acde-0043dc1398e5', N'Admin', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description]) VALUES (N'd5805b2b-707c-4d1b-9ec2-10682e6eb8f8', N'phuoc', N'nhan vien')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Description]) VALUES (N'daecda6f-b832-4ee3-913b-7808a24918aa', N'Customer', NULL)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'56243162-116f-4b78-ad97-9bc7a8acc1ae', N'd1294cfa-dc63-4653-acde-0043dc1398e5')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'f9524c5d-af1c-4314-9239-64c95602cad8', N'd1294cfa-dc63-4653-acde-0043dc1398e5')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Avatar]) VALUES (N'56243162-116f-4b78-ad97-9bc7a8acc1ae', N'traxuanson123@gmail.com', 0, N'AA3g82TpjH5L+AYAjYXv4QWTy7hCEnof0fHgrppS2d6XDoeeM1vGJbtoio0AFuqVPQ==', N'21dd986b-5eea-43b8-8d3a-ab7ebe06caa0', N'0123456789', 0, 0, NULL, 1, 0, N'traxuanson@gmail.com', N'ssssssss', N'sssss')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Avatar]) VALUES (N'f9524c5d-af1c-4314-9239-64c95602cad8', N'traxuanson@gmail.com', 0, N'AI2edZv32kfKVaEK98LeS1iJ3cC8msJiVyrdADbHfdWdk2hhCd463oY5HKcOGUSXKw==', N'60fe7439-3d83-4372-a740-5522f764ec4d', N'0981077564', 0, 0, NULL, 1, 0, N'XuanSon', N'son', N'ssssssssss')
INSERT [dbo].[Banner] ([Id], [Image], [Link], [CreatedDate], [UpdatedDate], [IsActive], [AdType]) VALUES (N'cf25ed3a-5903-4536-a3c0-af3d86ca685d', N'5.jpeg', N'http://localhost:63057/Admin/Brand', CAST(N'2020-03-03T14:26:56.700' AS DateTime), CAST(N'2020-03-03T14:26:56.700' AS DateTime), 1, 2)
INSERT [dbo].[Banner] ([Id], [Image], [Link], [CreatedDate], [UpdatedDate], [IsActive], [AdType]) VALUES (N'f9d8fdbc-84e1-4a41-bf7f-b136469bf001', N'3.jpeg', N'http://localhost:63057/Admin/Brand', CAST(N'2020-03-05T15:38:27.877' AS DateTime), CAST(N'2020-03-05T15:38:27.853' AS DateTime), 1, 0)
INSERT [dbo].[Banner] ([Id], [Image], [Link], [CreatedDate], [UpdatedDate], [IsActive], [AdType]) VALUES (N'11cf8248-292d-4412-9395-b13ad2455a2d', N'pexels-photo-2814832.jpeg', N'http://localhost:63057/Admin/Brand', CAST(N'2020-03-03T14:26:45.387' AS DateTime), CAST(N'2020-03-03T14:26:45.387' AS DateTime), 1, 1)
INSERT [dbo].[Brand] ([Id], [Name], [Summary], [Logo], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'7f400592-1d73-4e26-90c8-12f1991d3b5b', N'Gucci 2', N'&lt;p&gt;is an Italian luxury brand&lt;/p&gt;
', N'Dior.jpg.webp', CAST(N'2020-02-25T16:52:01.060' AS DateTime), NULL, 0)
INSERT [dbo].[Brand] ([Id], [Name], [Summary], [Logo], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'ac911cc4-96e6-4919-9e00-1ec6ef173d8d', N'Saint Laurent', N'', N'logoSaintLaurent', CAST(N'2020-02-25T16:52:01.060' AS DateTime), NULL, 1)
INSERT [dbo].[Brand] ([Id], [Name], [Summary], [Logo], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'708f8eb4-0670-423b-b51b-2a68243a27b7', N'Carven', N'', N'logocarven', CAST(N'2020-02-25T16:52:01.060' AS DateTime), NULL, 1)
INSERT [dbo].[Category] ([Id], [Name], [Summary], [ParentId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'66473678-b457-ea11-b327-10c37bddf09c', N'Highlights', N'Typical products of the shop', NULL, CAST(N'2020-02-25T16:52:01.943' AS DateTime), NULL, 1)
INSERT [dbo].[Category] ([Id], [Name], [Summary], [ParentId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'67473678-b457-ea11-b327-10c37bddf09c', N'Promotion Item', N'Promotion products', NULL, CAST(N'2020-02-25T16:52:01.943' AS DateTime), NULL, 1)
INSERT [dbo].[Category] ([Id], [Name], [Summary], [ParentId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'68473678-b457-ea11-b327-10c37bddf09c', N'New Products', N'Launches new products', NULL, CAST(N'2020-02-25T16:52:01.943' AS DateTime), NULL, 1)
INSERT [dbo].[Product] ([Id], [Vendor_Id], [Brand_Id], [Name], [Description], [CreatedDate], [UpdatedDate], [IsActive], [ImagePath]) VALUES (N'10b25f7c-1559-ea11-b327-10c37bddf09c', N'70c51773-edd2-4547-8489-2b0813945e52', N'7f400592-1d73-4e26-90c8-12f1991d3b5b', N'diro', N'&lt;p&gt;ssssssssssssss&lt;/p&gt;
', CAST(N'2020-02-27T10:59:01.210' AS DateTime), CAST(N'2020-02-27T10:59:01.207' AS DateTime), 1, N'download.jpg')
INSERT [dbo].[Product] ([Id], [Vendor_Id], [Brand_Id], [Name], [Description], [CreatedDate], [UpdatedDate], [IsActive], [ImagePath]) VALUES (N'f9cd8765-2859-ea11-b327-10c37bddf09c', N'3f7b6995-9dc7-44a0-8766-12d577c66e28', N'7f400592-1d73-4e26-90c8-12f1991d3b5b', N'Air', N'&lt;p&gt;ss&lt;/p&gt;
', CAST(N'2020-02-27T13:14:23.310' AS DateTime), CAST(N'2020-02-27T13:14:23.307' AS DateTime), 1, N'download.jpg')
INSERT [dbo].[Product] ([Id], [Vendor_Id], [Brand_Id], [Name], [Description], [CreatedDate], [UpdatedDate], [IsActive], [ImagePath]) VALUES (N'125f4b5a-4a59-ea11-b327-10c37bddf09c', N'3f7b6995-9dc7-44a0-8766-12d577c66e28', N'ac911cc4-96e6-4919-9e00-1ec6ef173d8d', N'Kappa', N'&lt;p&gt;Demo Kappa&lt;/p&gt;
', CAST(N'2020-02-27T17:17:24.440' AS DateTime), CAST(N'2020-02-27T17:17:06.957' AS DateTime), 1, N'download.jpg')
INSERT [dbo].[ProductAdvertisement] ([Id], [Title], [Description], [EventUrl], [EventUrlCaption], [ImagePath], [AdType], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'a3cf5229-7f2c-4ddd-b56b-11f3a8ef615e', N's', N'&lt;p&gt;s&lt;/p&gt;
', N's', N's', N'2.jpeg', 2, CAST(N'2020-03-03T14:30:37.663' AS DateTime), CAST(N'2020-03-03T14:30:37.663' AS DateTime), 1)
INSERT [dbo].[ProductAdvertisement] ([Id], [Title], [Description], [EventUrl], [EventUrlCaption], [ImagePath], [AdType], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'91376970-6720-4370-a836-5dd671849376', N'a', N'&lt;p&gt;s&lt;/p&gt;
', N'a', N's', N'dior.jpeg', 3, CAST(N'2020-03-03T14:30:56.943' AS DateTime), CAST(N'2020-03-03T14:30:56.943' AS DateTime), 1)
INSERT [dbo].[ProductAdvertisement] ([Id], [Title], [Description], [EventUrl], [EventUrlCaption], [ImagePath], [AdType], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'972b3851-3a35-4655-a4c9-a0dfbd44adf6', N'546', N'&lt;p&gt;s&lt;/p&gt;
', N's', N's', N'3.jpeg', 1, CAST(N'2020-03-03T14:30:25.233' AS DateTime), CAST(N'2020-03-03T14:30:25.230' AS DateTime), 1)
INSERT [dbo].[ProductCategory] ([ProductId], [CategoryId]) VALUES (N'f9cd8765-2859-ea11-b327-10c37bddf09c', N'c333fba1-f75c-ea11-b327-10c37bddf09c')
INSERT [dbo].[ProductCategory] ([ProductId], [CategoryId]) VALUES (N'9d37c29b-cd59-ea11-b327-10c37bddf09c', N'c333fba1-f75c-ea11-b327-10c37bddf09c')
INSERT [dbo].[ProductCategory] ([ProductId], [CategoryId]) VALUES (N'0daec28d-cf59-ea11-b327-10c37bddf09c', N'c333fba1-f75c-ea11-b327-10c37bddf09c')
INSERT [dbo].[ProductImage] ([Id], [ProductVariation_Id], [ImagePath], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'18d781e5-6905-4d1a-9ebb-cd885ede4cba', N'd74edb77-ad1d-4d44-aad7-6e8661d5cd8e', N'1.jpeg', CAST(N'2020-03-05T15:56:35.720' AS DateTime), NULL, 1)
INSERT [dbo].[ProductVariation] ([Id], [Product_Id], [SKU], [Volume], [StockQuantity], [Price], [DiscountPrice], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'ffc6fcdc-5c1d-4043-b2be-123f5e53cb28', N'0daec28d-cf59-ea11-b327-10c37bddf09c', N'Empty', N'200ml', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2020-02-28T09:11:14.447' AS DateTime), NULL, 1)
INSERT [dbo].[ProductVariation] ([Id], [Product_Id], [SKU], [Volume], [StockQuantity], [Price], [DiscountPrice], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'66acd356-d17b-4852-b181-6020ec3fb396', N'4f4fdeb6-be5e-ea11-b327-10c37bddf09c', N'Empty', N'150ml', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2020-03-05T15:53:00.343' AS DateTime), NULL, 1)
INSERT [dbo].[ProductVariation] ([Id], [Product_Id], [SKU], [Volume], [StockQuantity], [Price], [DiscountPrice], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'd74edb77-ad1d-4d44-aad7-6e8661d5cd8e', N'ae71c9f6-be5e-ea11-b327-10c37bddf09c', N'Empty', N'25ml', CAST(10.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)), CAST(111.00 AS Decimal(18, 2)), CAST(N'2020-03-05T15:54:47.640' AS DateTime), NULL, 1)
INSERT [dbo].[Vendor] ([Id], [Name], [Address], [Email], [PhoneNumber], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'3f7b6995-9dc7-44a0-8766-12d577c66e28', N'YVesSaint Laurent', N'Paris', N'YvesSaintLaurent@gmail.com', N'03030405', CAST(N'2020-02-25T16:52:01.843' AS DateTime), NULL, 1)
INSERT [dbo].[Vendor] ([Id], [Name], [Address], [Email], [PhoneNumber], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'70c51773-edd2-4547-8489-2b0813945e52', N'Christian Dior', N'Italy', N'dior@gmail.com', N'03030405', CAST(N'2020-02-25T16:52:01.843' AS DateTime), NULL, 1)
INSERT [dbo].[Vendor] ([Id], [Name], [Address], [Email], [PhoneNumber], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (N'73ec989a-8236-4b75-a41d-37ad507457d5', N'Van Cleef & Arpels', N'Paris', N'Vancleefarpels@gmail.com', N'03030405', CAST(N'2020-02-25T16:52:01.843' AS DateTime), NULL, 1)
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParentId]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [dbo].[Category]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShoppingCart_Id]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShoppingCart_Id] ON [dbo].[Order]
(
	[ShoppingCart_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Brand_Id]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Brand_Id] ON [dbo].[Product]
(
	[Brand_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vendor_Id]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vendor_Id] ON [dbo].[Product]
(
	[Vendor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[ProductCategory]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[ProductCategory]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariation_Id]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariation_Id] ON [dbo].[ProductImage]
(
	[ProductVariation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Id]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Id] ON [dbo].[ProductVariation]
(
	[Product_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariation_Id]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariation_Id] ON [dbo].[ShoppingCartDetail]
(
	[ProductVariation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShoppingCart_Id]    Script Date: 3/5/2020 5:07:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ShoppingCart_Id] ON [dbo].[ShoppingCartDetail]
(
	[ShoppingCart_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((0)) FOR [AdType]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('') FOR [ImagePath]
GO
ALTER TABLE [dbo].[ShoppingCartDetail] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ProductVariation_Id]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Category_dbo.Category_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_dbo.Category_dbo.Category_ParentId]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Order_dbo.ShoppingCart_ShoppingCart_Id] FOREIGN KEY([ShoppingCart_Id])
REFERENCES [dbo].[ShoppingCart] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_dbo.Order_dbo.ShoppingCart_ShoppingCart_Id]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Brand_Brand_Id] FOREIGN KEY([Brand_Id])
REFERENCES [dbo].[Brand] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Brand_Brand_Id]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_dbo.Vendor_Vendor_Id] FOREIGN KEY([Vendor_Id])
REFERENCES [dbo].[Vendor] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_dbo.Product_dbo.Vendor_Vendor_Id]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategory_dbo.Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_dbo.ProductCategory_dbo.Category_CategoryId]
GO
ALTER TABLE [dbo].[ProductCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategory_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategory] CHECK CONSTRAINT [FK_dbo.ProductCategory_dbo.Product_ProductId]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductImage_dbo.ProductVariation_ProductVariation_Id] FOREIGN KEY([ProductVariation_Id])
REFERENCES [dbo].[ProductVariation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_dbo.ProductImage_dbo.ProductVariation_ProductVariation_Id]
GO
ALTER TABLE [dbo].[ProductVariation]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductVariation_dbo.Product_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariation] CHECK CONSTRAINT [FK_dbo.ProductVariation_dbo.Product_Product_Id]
GO
ALTER TABLE [dbo].[ShoppingCartDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShoppingCartDetail_dbo.ProductVariation_ProductVariation_Id] FOREIGN KEY([ProductVariation_Id])
REFERENCES [dbo].[ProductVariation] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCartDetail] CHECK CONSTRAINT [FK_dbo.ShoppingCartDetail_dbo.ProductVariation_ProductVariation_Id]
GO
ALTER TABLE [dbo].[ShoppingCartDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ShoppingCartDetail_dbo.ShoppingCart_ShoppingCart_Id] FOREIGN KEY([ShoppingCart_Id])
REFERENCES [dbo].[ShoppingCart] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShoppingCartDetail] CHECK CONSTRAINT [FK_dbo.ShoppingCartDetail_dbo.ShoppingCart_ShoppingCart_Id]
GO
USE [master]
GO
